nav {
  font-family: "Londrina Solid";
}

nav a {
  margin-right: 10px;
  color: #3131b3;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Luckiest Guy";
  background-color: gray;
}

button {
  background-color: black;
  color: white;
}

h1 {
  font-family: "Luckiest Guy";
  font-size: 98px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#logo {
  height: 200px;
  width: 200px;
}

.album #album-cover-art {
  height: 400px;
  width: 400px;
}

.album-details #album-title{
  font-size: 40px;
}

#album-picture {
  height: 300px;
  width: 300px;
}

.ion-play {
  color: white;
}

.ion-pause{
  color: white;
}

.ion-skip-backward{
  color: white;
}

.ion-skip-forward{
  color:white;
}

.seek-bar-custom {
  background-color: black;
  color: black;
}
.song .song-number {
  display: inline;
}

.song .ion-pause, .song .ion-play {
  display: none;
}

.song-playing .ion-play {
  display: inline;
}

.song-playing .ion-pause, .song-playing .song-number {
  display: none;
}
